In [1]:
# Add scripts folder to path
import sys
sys.path.insert(0, '../../scripts')

import pandas as pd
import name_entity_recognition as ner

In [2]:
# Load the necesary datasets for the NER script
ner.load_data('../..')

In [3]:
file = '../../data/parsed/markov_text_files/test_samples.csv'
samples_df = pd.read_csv(file, encoding='utf-8', compression='gzip')

samples_df.head()

,City Names,Country Names,Country Nationalities,Currency Names,Religion Affiliations,Religion Names,Text
0,0,0,1,0,0,0,The Caymanians enjoy one of the highest rates ...
1,0,0,0,0,0,0,"In these ways, a large part of planting enterp..."
2,0,1,0,0,0,0,"Annexed by the UK in 1857, they were transferr..."
3,0,0,0,0,0,0,The country roads seem to be not very good in ...
4,0,0,0,0,0,0,Proliferative changes in the synovial membrane...

In [5]:
# Obtain list of labes (GPE, NORP, MONEY) for the sample
list_labels = ner.get_interesting_text_entities(samples_df.get_value(2, 'Text'))
print(list_labels)

#result = nerget_matching_row(text, ner.country_nationality_df, ['ID', 'Official Name', 'Common Name'])

for item in list_labels:
    print(ner.get_matching_results(item[0], item[1]) )

[('GPE', 'UK'), ('GPE', 'US')]
(ID                      UA
Official Name      Ukraine
Common Name        Ukraine
Currencies         ['UAH']
Nationality      Ukrainian
Name: 227, dtype: object, 'Country')
(ID                                     US
Official Name    United States of America
Common Name                 United States
Currencies          ['USD', 'USN', 'USS']
Nationality                      American
Name: 230, dtype: object, 'Country')

In [6]:
print(samples_df.get_value(2, 'Text'))

Annexed by the UK in 1857, they were transferred to the US Fish and Wildlife Service.